.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 48px 24px;
   }
   
   @media screen and (max-width: 768px) {
       .footer {
           padding: 0 24px 24px;
       }
   }
   
   @media screen and (max-width: 750px) {
       .footer {
         flex-direction: column;
       }
   }
   @media screen and (max-width: 450px) {
       .footer {
         align-items: flex-start;
       }
   }
   .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin:0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: opacity 0.2s linear;
    margin-right: 18px;
  }
  
  .footer__link:hover {
   opacity: 0.8;
  }
  
  @media screen and (max-width: 450px) {
    .footer__link {
      margin-right: 0;
      font-size: 24px;
      line-height: 24px;
    }
  }
  
  .footer__links {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  @media screen and (max-width: 750px) {
      .footer__links {
        margin-bottom: 48px;
      }
  }
  
  @media screen and (max-width: 450px) {
      .footer__links {
        flex-direction: column;
      }
  }  