.footer__links {
  margin: 0;
  display: flex;
}

@media screen and (max-width: 750px) {
    .footer__links {
      margin-bottom: 48px;
    }
}

@media screen and (max-width: 450px) {
    .footer__links {
      flex-direction: column;
    }
}