.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  text-align: center;
  margin: 0 0 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 640px) {
  .lead__subtitle {
    font-size: calc(4vw);
    line-height: normal;
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 288px;
  }
}