.place {
  display: grid;
  grid-template-columns: minmax(200px, 460px) minmax(200px, 483px);
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: minmax(200px, 440px) minmax(200px, 456px);

  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    column-gap: 28px;
    grid-template-columns: minmax(200px, 340px) minmax(200px, 352px);
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
    margin-bottom: 50px;
  }
}