.place {
  display: grid;
  grid-template-columns: minmax(200px, 460px) minmax(200px, 483px);
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
  }
}