.footer {
 max-width: 1184px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
 padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px 24px;
    }
}

@media screen and (max-width: 750px) {
    .footer {
      flex-direction: column;
    }
}
@media screen and (max-width: 450px) {
    .footer {
      align-items: flex-start;
    }
}