.header__lang-links {
  font-size: 24px;
  line-height: 28px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
      font-size: 18px;
      line-height: 1.1;
    }
}